Language: Cpp
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left
ReflowComments: true
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
AlignConsecutiveBitFields: AcrossEmptyLines
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: CaseInsensitive
SpaceBeforeParens: ControlStatements
SortUsingDeclarations: true
BreakBeforeBraces: Custom
IndentCaseLabels: true
SpacesBeforeTrailingComments: 1
EmptyLineBeforeAccessModifier: Always
IndentAccessModifiers: false
AccessModifierOffset: -4
BreakStringLiterals: true
BraceWrapping:
  AfterEnum: true
  AfterFunction: true
  AfterClass: true
  AfterCaseLabel: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true