[submodule "TKPEmu/GameboyTKP"]
	path = TKPEmu/GameboyTKP
	url = https://github.com/OFFTKP/GameboyTKP
[submodule "TKPEmu/NESTKP"]
	path = TKPEmu/NESTKP
	url = http://github.com/offtkp/NESTKP
[submodule "TKPEmu/imgui"]
	path = TKPEmu/imgui
	url = https://github.com/ocornut/imgui
[submodule "TKPEmu/N64TKP"]
	path = TKPEmu/N64TKP
	url = https://github.com/OFFTKP/N64TKP
[submodule "TKPEmu/chip8"]
	path = TKPEmu/chip8
	url = https://github.com/OFFTKP/chip8
